extend ../../layouts/default.pug
include ../../mixins/box-head.pug
block main
    +box-head('Page list products')

    .container
        .row.justify-content
            .col-md-4
                .card.shadow-sm.mb-4
                    img.card-img-top(src="https://dummyjson.com/image/150x100/282828", alt="iPhone 9")
                    .card-body.text-center
                        h5.card-title iPhone 9
                        p.card-text.text-success.font-weight-bold 80$
                        p.card-text.text-muted.text-decoration-line-through 100$
                        span.badge.badge-danger -20%
